BOT_TOKEN=ВАШ_ТОКЕН_ИЗ_BOTFATHER
API_MOSKOW=URL_С_API_ПОГОДЫ_В_МОСКВЕ
API_PITERBURG=URL_С_API_ПОГОДЫ_В_ПИТЕРБУРГЕ
API_KRASNOYARSK=URL_С_API_ПОГОДЫ_В_КРАСНОЯРСКЕ
API_NOWOSIBIRSK=URL_С_API_ПОГОДЫ_В_НОВОСИБИРСКЕ
